body{
    background-color: brown;
}
#camera{
    width: 500px;
    height: 400px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img:hover{
    border-radius: 140px;
}